<nav class="bg-purple-800 p-6" [class.h-64]="showMenu">
    <div class="text-white mr-6">
        <div class="flex justify-between">
            <div>
                <Menu-Button (click)="toggleMenu()"></Menu-Button>
            </div>
            <div>
                <Dropdown
                    [options]="difficultyOptions"
                    [selectedValue]="selectedDifficultyOption"
                    (selectedValueChange)="difficultySelected($event)"
                >
                </Dropdown>
            </div>
            <div class="flex items-center">
                <p class="text-2xl mr-4">Punkte: {{ points$ | async }}</p>
                <div *ngIf="avatar$ | async as avatar">
                    <Planet
                        *ngIf="avatar === 'planet'"
                        size="50"
                        mood="happy"
                        [color]="avatarColor$ | async"
                    ></Planet>
                    <Backpack
                        *ngIf="avatar === 'backpack'"
                        size="50"
                        mood="excited"
                        [color]="avatarColor$ | async"
                    ></Backpack>
                    <Cat
                        *ngIf="avatar === 'cat'"
                        size="50"
                        mood="excited"
                        [color]="avatarColor$ | async"
                    ></Cat>
                    <Ghost
                        *ngIf="avatar === 'ghost'"
                        size="50"
                        mood="excited"
                        [color]="avatarColor$ | async"
                    ></Ghost>
                    <IceCream
                        *ngIf="avatar === 'icecream'"
                        size="50"
                        mood="blissful"
                        [color]="avatarColor$ | async"
                    ></IceCream>
                </div>
            </div>
        </div>
    </div>
</nav>
<div class="w-screen h-screen bg-green-200">
    <div class="flex justify-center">
        <p
            class="text-6xl font-mono p-5 text-purple-800"
            *ngFor="let part of currentCalculation"
        >
            {{ part }}
        </p>
    </div>
    <div class="flex justify-center">
        <input
            #inputElement
            [formControl]="result"
            type="text"
            inputmode="decimal"
            placeholder=""
            class="p-10 min-w-full text-5xl lg-text-6xl shadow bg-green-500 bg-opacity-25 outline-none text-center"
        />
    </div>
    <div class="mt-5">
        <Success *ngIf="showSuccess"></Success>
    </div>
</div>
