<div class="w-screen h-screen bg-green-500 bg-opacity-25">
    <div class="flex justify-center">
        <p
            class="text-6xl font-mono p-5 text-purple-800"
            *ngFor="let part of currentCalculation"
        >
            {{ part }}
        </p>
    </div>
    <div class="flex justify-center">
        <input
            [formControl]="result"
            type="text"
            inputmode="decimal"
            placeholder="Ergebnis"
            class="text-2xl lg-text-6xl"
        />
    </div>
</div>
