<nav class="bg-purple-800 p-6">
    <div class="flex justify-center text-white">
        <p class="text-2xl flex justify-center">Wähle deine Farbe</p>
    </div>
</nav>
<div class="">
    <div>
        <div class="flex flex-wrap justify-center pt-10">
            <div
                *ngFor="let color of colors"
                class="w-20 h-16 rounded border-gray-400 hover:border-purple-800 border-2 m-2 cursor-pointer"
                [style.backgroundColor]="color"
                (click)="chooseColor(color)"
            ></div>
        </div>

        <div
            *ngIf="avatar$ | async as avatar"
            class="flex flex-wrap justify-center pt-10"
        >
            <Planet
                *ngIf="avatar === 'planet'"
                size="200"
                mood="happy"
                [color]="selectedColor"
            ></Planet>
            <Backpack
                *ngIf="avatar === 'backpack'"
                size="200"
                mood="excited"
                [color]="selectedColor"
            ></Backpack>
            <Cat
                *ngIf="avatar === 'cat'"
                size="200"
                mood="excited"
                [color]="selectedColor"
            ></Cat>
            <Ghost
                *ngIf="avatar === 'ghost'"
                size="200"
                mood="excited"
                [color]="selectedColor"
            ></Ghost>
            <IceCream
                *ngIf="avatar === 'icecream'"
                size="200"
                mood="blissful"
                [color]="selectedColor"
            ></IceCream>
        </div>

        <div class="flex justify-center pt-10">
            <div class="mt-4">
                <a
                    routerLink="/game"
                    class="p-3 rounded-lg inline-block bg-purple-800 hover:bg-purple-500 cursor-pointer text-white"
                    >Zum Spiel</a
                >
            </div>
        </div>
    </div>
</div>
